astroid==2.3.3
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
cycler==0.10.0
Django==1.9.1
docx==0.2.4
et-xmlfile==1.0.1
Flask==1.1.2
gunicorn==20.0.4
idna==2.10
importlib-metadata==3.4.0
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.11.2
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
lxml==4.6.2
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
numpy==1.16.4
openpyxl==3.0.6
pandas==0.24.2
Pillow==8.1.0
powerline-status==2.7
prompt-toolkit==3.0.14
pyasn1==0.1.9
pycairo==1.19.1
pylint==2.4.4
pyparsing==2.4.0
python-dateutil==2.8.0
python-docx==0.8.10
pytz==2019.1
requests==2.24.0
rsa==3.3
six==1.12.0
typed-ast==1.4.1
typing-extensions==3.7.4.3
urllib3==1.25.10
wcwidth==0.2.5
Werkzeug==1.0.1
wrapt==1.11.2
zipp==3.4.0
