<html>
   <body>
	  <img src = "{{url_for('static', filename='cisco-logo-2.png')}}" width = "200" height = "100"></img>
	  <div>
	  <br>
	  <h3><u>This tool is developed as per the new Queue Management system proposed by Chakshu Piplani.</u></h3>
	  It will give the queue for next day based on the present day last queue.
	  <div>
	  <div>
		<p><b>Follow the below steps:</b>
		</p>
		<ol>
			<li>Click on Browse and select the wordpad (.docx) file having the last queue of present day. </li>
			<li>Then enter the baseline value in the text box and click on Submit.</li>
		</ol>
	  </div>
	  <br>
	  <br>
      <form action = "{{domain}}{{path}}" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         Baseline: <input type = "number" name = "baseline" /> 
         <input type = "submit"/>
      </form>
      <div>
		<br>
		<br>
         <b><u>Queue for Next Day: </u></b><br>
         {% for item in data %}
            {% if not loop.last %}
               {% if item.is_bold == true %}
                  {% if item.diff != None %}
                     <b>{{item.name}}</b> {{item.diff}} >
                  {% else %}
                     <b>{{item.name}}</b> >
                  {% endif %}
               {% elif item.is_minus_one == true or item.is_already_minus_one == True %}
                  {{item.name}} -1 >
               {% else %}
                  {{item.name}} >
               {% endif %}
            {% else %}
               {% if item.is_minus_one == true or item.is_already_minus_one == True %}
                  {{item.name}} -1 >
               {% else %}
                  {{item.name}}
               {% endif %}
            {% endif %}
         {% endfor %}
     </div>
   </body>
</html>